.box{
    /*display: none;*/
    /*visibility: hidden;*/
    /*opacity: 1;*/
}
span{
    width: 100px;
    height: 100px;
    text-align: center;
    padding-block: 20px;
    margin-block: 20px;
    display: inline-block;
    border: 1px solid red;
}
div{
    display: inline;
    border: 1px solid red;
}