h1 {
    color: red;
}
input[name ="name"]{
    color: blue;
}

input[name ="check"]:checked ~ p{
    color: blue;
}


 #off:checked  ~ .test{
    color: blue;
}
 #gr:checked  ~ p{
    color: green;
}

 h1:hover{
     color: red;
 }