.box{
    width: 800px;
    height: 800px;
    background-color: wheat;
    background-image: url("https://cdn.tgdd.vn/2023/11/content/image--9--800x450.jpg");
    background-repeat: no-repeat;
    /*background-position: center;*/
    background-size: auto;
}
