body{
    height: 5000px;
}
.box{
    width: 400px;
    height: 300px;
    border: 1px solid red;
    margin: 30px auto;

}
.item{
    width: 150px;
    height: 50px;
    background-color: green;
    color: white;
    border: 2px solid white;
}
.item:nth-child(2){
    /*position: relative;*/
    /*top: 0;*/
    /*left: calc(100% - 150px);*/
    position: relative;
    top: 20px;
    right: 20px;
    z-index: -1;
}