* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    display: flex;
    border: 10px solid red;
    flex-direction: row;
    justify-content: space-evenly;
    height: 100vh;
    align-items: center;
    flex-wrap: wrap;
}
.box{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: pink;
    width: 100px;
    height: 100px;
    color: black;
}