* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box2{
    width: 80%;
    height: 80%;
    color: black;
    position: absolute;
    background-color: aliceblue;
    z-index: 3;
    bottom: 0;
    margin: auto;
    inset: 0;
}
.box3{
    width: 100%;
    height: 100%;
    background-color: rgba(59, 30, 40, 0.62);
    position: absolute;
    z-index: 2;
}

#on:checked ~ .test {
    color: white;
}

