* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.box3{
    width: 100%;
    height: 100%;
    background-color: rgba(59, 30, 40, 0.6);
    position: absolute;
    inset: 0;
    z-index: 1;
    display: none;
}
.box2{
    width: 70%;
    height: 70%;
    background-color: white;
    position: absolute;
    z-index: 2;
    margin: auto;
    inset: 0;
    display: none;
}

#on:checked ~ .box3{
    display: block;
}
#on:checked ~ .box2{
    display: block;
}